<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--client_code_grant: Authentication scenario-->
    <add key="ida:ClientId" value="c3c3e437-9852-4408-b85b-fb14357d0380" />
    <add key="ida:ClientSecret" value="NkxCsNf2OWGQJ+LOhW3Sy/5kZQZAK2F143xlThFO/FA=" />
    
    <!--non-interactive: With username/password Authentication scenario-->
    <add key="ida:NativeClientId" value="d9071b1b-87c2-4a47-8143-faf4272d0293" />
    <add key="ida:UserName" value="rathanavel@rathanavellive.onmicrosoft.com" />
    <add key="ida:Password" value="*******" />

    <!--Common_AAD_Keys-->
    <add key="ida:Tenant" value="rathanavellive.onmicrosoft.com" />
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}" />
    <add key="ida:ServiceResourceId" value="https://rathanavellive.onmicrosoft.com/CogntiveAPI" />
    <add key="endpoint:ServiceBaseAddress" value="http://ratsubcognitiveapi.azurewebsites.net/" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>